.DS_Store
__pycache__/
*.py[cod]

.vscode/
venv/
config.json

logs/
temp/
output/

resources/*.gguf
resources/*.bin
resources/ffmpeg
resources/whisper-cli

tempCodeRunnerFile.py
core/tempCodeRunnerFile.py

dist/
build/
.pyinstaller/
*.spec
